html, body{
    width:100%;
    margin:0px;
    padding:0px;
    font-size:100%;
}
ul.horz{
    position:absolute;
    top:0p;
    left:50%;
    margin:0px;padding:0px;
    margin-left:-480px;
    width:960px;
}
ul.horz li{
    float:left;
    width:20%;
    margin:0px auto;
    list-style-type:none;
}