/* ######### CSS for Shade Tabs. Remove if not using ######### */

.shadetabs{
	padding: 3px 0;
	margin-left: 0;
	margin-top: 1px;
	margin-bottom: 0;
	font: bold 12px Verdana;
	list-style-type: none;
	text-align: left;
}

.shadetabs li{
	display: inline;
	margin: 0;
}

.shadetabs li a{
	text-decoration: none;
	position: relative;
	z-index: 1;
	padding: 3px 7px;
	margin-right: 3px;
	border: 1px solid #778;
	color: #2d2b2b;
	background-color: gray;
}

.shadetabs li a:hover{
	text-decoration: underline;
	color: #ff00ff;
}


.shadetabs li a.selected{ /*selected main tab style */
	border-bottom-color: white;
	background-color: white;
}

.shadetabs li a.selected:hover{ /*selected main tab style */
	text-decoration: none;
}

.tabcontent{
	display:none;
}

@media print {
	.tabcontent {
		display:block !important;
	}
}